name: Deploy Pygbag Game

on:
    push:
        branches: [main]

permissions:
    contents: write
    pages: write
    id-token: write

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-python@v4
              with:
                    python-version: '3.11'
            - name: Build with pygbag
              run: |
                    pip install pygbag
                    pip install pygame
                    pygbag --build ./time.py
            - name: Deploy to GitHub Pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                    github_token: $ secrets.GITHUB_TOKEN
                    publish_dir: ./build/web
